@model List<WishList.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Wishlist</h1>

<p>
    <a asp-action="Create">Add item</a>
</p>
<ul>
@foreach(var item in Model)
{
    <li>
        @item.Description <a asp-action="delete" asp-route-id="@item.Id">Delete</a> 
    </li>
}
</ul>
